/ClearAllMenuItem.class
/ClearMenuItem.class
/CloseMenuItem.class
/LoadMenuItem.class
/NewMenuItem.class
/OpenMenuItem.class
/PrintMenuItem.class
/SaveMenuItem.class
/WindowMenu.class
/WindowMenuItem.class
/XLMenuBar.class
